<!DOCTYPE html>
<html lang="fr">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->

<title>
    Projet Scoring OC
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description_meta" content="" />
<meta name="keywords_meta" content="" />
<meta name="title_meta" content="Projet Scoring" />

<meta name="author" content="Marc Rousseau">
<link rel="canonical" href="">

</head>
<body>
    <header class="header-global">
        
    </header>                

    <main>

        Hello World ! It's me 1 !

    </main>

</body>
</html>
