<!DOCTYPE html>
<html lang="fr">

<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->

<title>
    Projet Scoring OC
</title>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description_meta" content="" />
<meta name="keywords_meta" content="" />
<meta name="title_meta" content="Projet Scoring" />

<meta name="author" content="Marc Rousseau">
<link rel="canonical" href="">

<!-- Pixel CSS -->
<link type="text/css" href="/static/pixel.css" rel="stylesheet">

<!-- Plotly JS -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
    #description {
        width: 100%;
        height: 100px;
        border: none;
        outline: none;
        resize: none;
    }
</style>
</head>
<body>
    <header class="header-global">
        
    </header>                

    <main>
        <section class="section section-header bg-primary-app text-dark pb-md-10">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-6">
                        <h1 class="display-2 mb-3">Credit Board</span>
                        </h1>
                        <p class="lead text-gray mb-5">Bienvenue dans le cockpit de notation crédit</p>
                        <form action="/" method="POST" class="form mt-5">
                            <label for="customer_id">ID du dossier client</label>
                            <input type="text" class="form-control mb-3" id="customer_id" name="customer_id" required="">
                            <button type="submit" class="btn btn-dark">Charger le Dossier</button>
                        </form>
                        {% if error %}
                            <p>Ce dossier client est inconnu</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        {% if plot_data != {} %}
            <section class="section section-lg py-sm-0 mb-5">
                <div class="container z-2 mt-sm-n6 mt-md-n7">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="card bg-white border-gray-300 text-gray p-4">
                                <div class="card-header bg-white border-0 pb-0">
                                    <h2 class="h4 m-0">Notation</h2>
                                </div>
                                <div class="card-body">
                                    <p>
                                        La jauge ci-dessous représente la probabilité de défaut de paiement du client.Pour une valeur entre 0% et 50% vous pouvez accorder un crédit sans risque. Entre 50% et 80% vous pouvez accorder un crédit mais avec une caution et un accord du département risque. Au delà de 80% vous ne pouvez pas accorder de crédit.
                                    </p>
                                    <div id="gauge-chart"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="card bg-white border-gray-300 text-gray p-4">
                                <div class="card-header bg-white border-0 pb-0">
                                    <h2 class="h4 m-0">Explication</h2>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Le graphique ci-dessous vous permet de déterminer les 10 paramêtres principaux ayant mené à la décision par l'algortihtme de scoring. Les paramètres en rouge sont ceux qui ont augmenté le risque de défaut et ceux en vert ont diminué le risque de défaut.
                                    </p>
                                    <div id="chart-explanation" style="min-height: 800px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <div class="card bg-white border-gray-300 text-gray p-4">
                                <div class="card-header bg-white border-0 pb-0">
                                    <h2 class="h4 m-0">Données personnelles</h2>
                                </div>
                                <div class="card-body">
                                    <p>
                                        Les données personnelles du client sont les suivantes :
                                    </p>
                                    <form>
                                        <label for="key">Entrer le nom du champ recherché:</label>
                                        <input type="text" id="key" name="key" autocomplete="off">
                                        <br><br>
                                        <label for="value">Valeur:</label>
                                        <input type="text" id="value" name="value" readonly>
                                        <br><br>
                                        <label for="description">Description:</label>
                                        <textarea id="description" name="description" readonly></textarea>
                                    </form>
                                    <script>
                                        $(function() {
                                            var customer_id = '{{ customer_id }}';  // pass customer_id to JavaScript variable
                                            $("#key").autocomplete({
                                                source: function(request, response) {
                                                    $.getJSON("/autocomplete", {
                                                        search: request.term,
                                                        customer_id: customer_id  // pass customer_id to Flask route
                                                    }, response);
                                                },
                                                minLength: 1,
                                                select: function(event, ui) {
                                                    var key = ui.item.value;
                                                    $.ajax({
                                                        url: "/get_value",
                                                        data: {
                                                            key: key,
                                                            customer_id: customer_id  // pass customer_id to Flask route
                                                        },
                                                        success: function(response) {
                                                            $("#value").val(response.value);
                                                        }
                                                    });
                                                    $.ajax({
                                                        url: "/get_description",
                                                        data: {
                                                            key: key
                                                        },
                                                        success: function(response) {
                                                            $("#description").val(response.description);
                                                        }
                                                    });
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    Accéder au code source : <a href="https://github.com/marcerousseau/projet-scoring-oc">Github </a>
                </div>
                
            </section>
        {% endif %}
        

    </main>
    {% if plot_data != {} %}
        <script>
            var data = [
            {
                value: {{plot_data['probability_default']*100 }},
                title: { text: "Probabilité de défaut" },
                type: "indicator",
                mode: "gauge+number",
                gauge: {
                axis: { range: [null, 100] },
                steps: [
                    { range: [0, 50], color: "green" },
                    { range: [50, 80], color: "orange" },
                    { range: [80, 100], color: "red" }
                ],
                threshold: {
                    line: { color: "black", width: 4 },
                    thickness: 0.75,
                    value: 80
                },
                bar: { color: "black" }
                }
            }
            ];
            var layout = {
            responsive: true,
            paper_bgcolor: "white",
            font: {
                color: "black",
                family: "Arial"
            },
            annotations: [
                {
                text: "%",
                font: {
                    size: 25
                },
                showarrow: false,
                x: 0.5,
                y: 0.5
                }
            ]
            };
        
            Plotly.newPlot("gauge-chart", data, layout);
        </script>
        <script>
            var data = {{ plot_data['top_10_shap_dict_ordered'] | tojson }};
            var dataArr = Object.entries(data).map(([x, y]) => ({x, y}));
            dataArr.sort((a, b) => Math.abs(b.y) - Math.abs(a.y));
            var xValues = dataArr.map(({x}) => x);
            var yValues = dataArr.map(({y}) => y);
            var trace = {
            x: xValues,
            y: yValues,
            type: "bar",
            marker: {
                color: yValues.map(function (d) {
                return d >= 0 ? "red" : "green";
                })
            }
            };
            var layout = {
            title: "Augmentation (rouge)/Baisse (vert) du risque de défaut en fonction du paramètre",
            yaxis: { title: "Augmentation (rouge)/Baisse (vert) du risque de défaut", tickformat: ',.0%'},
            xaxis: { title: "Paramètre", tickangle: -45, automargin: true, tickfont: { size: 10 } },
            bargap: 0.05,
            responsive: true,
            };
            var data = [trace];
            Plotly.newPlot("chart-explanation", data, layout);
        </script>
    {% endif %}
</body>
</html>
